---
const { selectedItem } = Astro.props;
---

<aside
  data-animation="default"
  data-collapse="medium"
  data-duration="400"
  data-easing="ease"
  data-easing2="ease"
  role="banner"
  class="sidebar w-nav"
>
  <div class="nav-content">
    <a href="/" class="w-nav-brand" aria-label="home">
      <div class="niv-data">
        <img
          src="/assets/perfil.jpeg"
          loading="eager"
          alt="Profile picture"
          class="niv-image"
        />
        <div>
          <div class="label-white">Irvin de Jesus Suarez Vasquez</div>
          <div class="label-gray">Ingeniero de Software</div>
        </div>
      </div>
    </a>

    <nav role="navigation" class="w-nav-menu">
      <a
        href="/"
        class={`nav-link-container w-inline-block ${
          selectedItem === 'home' ? 'w--current' : ''
        }`}
      >
        <img
          src="/assets/home.svg"
          loading="eager"
          alt=""
          class="nav-link-image"
        />
        <div>Sobre mi</div>
      </a>
      <a
        href="/software-development"
        class={`nav-link-container w-inline-block ${
          selectedItem === 'software-development' ? 'w--current' : ''
        }`}
        aria-current={
          selectedItem === 'software-development' ? 'page' : undefined
        }
      >
        <img
          src="/assets/code.svg"
          loading="eager"
          alt=""
          class="nav-link-image"
        />
        <div>Experiencia Profesional</div>
      </a>
      
  </div>

  <script>
    import { setupNav } from '../scripts/nav.js';
    
    let cleanup;
    document.addEventListener('astro:page-load', () => {
      if (cleanup) cleanup();
      cleanup = setupNav();
    });

    document.addEventListener('astro:before-swap', () => {
      if (cleanup) cleanup();
    });
  </script>
</aside>
